@charset "UTF-8";
a, a:visited, a:focus, a:active, a:hover {
  color: inherit !important;
  text-decoration: none !important;
}

body {
  background: #f3e9f1 !important;
}

html, body {
  font-family: "Quicksand", sans-serif;
}

.cart-btn {
  background: transparent;
  color: #9d66d6;
  border: none;
  transition: all ease-in-out 300ms;
}
.cart-btn:hover {
  transform: scale(1.5);
  opacity: 0.6;
}

.cameraForm > input {
  position: relative;
}
.cameraForm > input:after {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: red;
}

.products--magnet {
  width: 300px !important;
  height: 582px;
  background: #4f3143;
  border-radius: 28px;
  color: #f3e9f1;
  font-weight: bold;
  position: relative;
  cursor: pointer;
  box-shadow: 0px 3px 6px #00000085;
}
.products--magnet-detail {
  display: none;
}
.products--magnet-img {
  height: 220px;
  max-height: 220px;
}
.products--magnet-img > img {
  width: 300px !important;
  height: 220px;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
}
.products--magnet-txt-name {
  color: #cc7f56;
  font-size: 20px;
}
@media all and (min-width: 768px) {
  .products--magnet-txt-name {
    font-size: 22px;
  }
}
.products--magnet-txt-price {
  color: #9d66d6;
}
.products--magnet-txt-colors > div {
  min-width: 15px;
  min-height: 15px;
  border: 1px solid white;
  border-radius: 10px;
}
.products--magnet-txt-lenses-single {
  background: #6e455e;
  padding: 3px;
  margin: 0 0 3px 2px;
  border-radius: 10px;
}
.products--magnet-txt-varnish > div {
  min-width: 15px;
  min-height: 15px;
  border: 1px solid white;
  border-radius: 10px;
}
.products--magnet-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 28px;
  background: #cc7f56;
  opacity: 0;
  z-index: 99;
  transition: opacity ease-in-out 300ms;
}
.products--magnet-overlay:hover {
  opacity: 0.7;
}
.products--magnet-overlay > i {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 50%;
}

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
}

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
  width: 320px;
  height: 480px;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}

.select {
  width: 60%;
  position: relative;
  text-align: center;
}
.select > select {
  appearance: none;
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
  cursor: pointer;
  border: 3px solid #cc7f56;
  border-radius: 28px;
  padding: 0 0 0 10px;
  color: #9d66d6;
}
.select:after {
  position: absolute;
  right: 0;
  top: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
  font-family: "Font Awesome 5 Free";
  content: "";
  height: 100%;
  width: 20px;
  color: #4f3143;
  border-radius: 28px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background: #cc7f56;
  pointer-events: none;
}

.teddyInputTan {
  -webkit-appearance: none;
  background-color: tan;
  border: 1px solid white;
  border-radius: 28px;
  width: 20px;
  height: 20px;
  position: relative;
  transition: all ease-in-out 200ms;
  cursor: pointer;
}
.teddyInputTan:hover {
  transform: scale(1.5);
}
.teddyInputTan:checked {
  background-color: tan;
  border: 1px solid white;
  transform: scale(1.5);
}
.teddyInputChocolate {
  -webkit-appearance: none;
  background-color: chocolate;
  border: 1px solid white;
  border-radius: 28px;
  width: 20px;
  height: 20px;
  position: relative;
  transition: all ease-in-out 200ms;
  cursor: pointer;
}
.teddyInputChocolate:hover {
  transform: scale(1.5);
}
.teddyInputChocolate:checked {
  background-color: chocolate;
  border: 1px solid white;
  transform: scale(1.5);
}
.teddyInputBlack {
  -webkit-appearance: none;
  background-color: black;
  border: 1px solid white;
  border-radius: 28px;
  width: 20px;
  height: 20px;
  position: relative;
  transition: all ease-in-out 200ms;
  cursor: pointer;
}
.teddyInputBlack:hover {
  transform: scale(1.5);
}
.teddyInputBlack:checked {
  background-color: black;
  border: 1px solid white;
  transform: scale(1.5);
}
.teddyInputWhite {
  -webkit-appearance: none;
  background-color: white;
  border: 1px solid white;
  border-radius: 28px;
  width: 20px;
  height: 20px;
  position: relative;
  transition: all ease-in-out 200ms;
  cursor: pointer;
}
.teddyInputWhite:hover {
  transform: scale(1.5);
}
.teddyInputWhite:checked {
  background-color: white;
  border: 1px solid white;
  transform: scale(1.5);
}
.teddyInputBrown {
  -webkit-appearance: none;
  background-color: brown;
  border: 1px solid white;
  border-radius: 28px;
  width: 20px;
  height: 20px;
  position: relative;
  transition: all ease-in-out 200ms;
  cursor: pointer;
}
.teddyInputBrown:hover {
  transform: scale(1.5);
}
.teddyInputBrown:checked {
  background-color: brown;
  border: 1px solid white;
  transform: scale(1.5);
}
.teddyInputBlue {
  -webkit-appearance: none;
  background-color: blue;
  border: 1px solid white;
  border-radius: 28px;
  width: 20px;
  height: 20px;
  position: relative;
  transition: all ease-in-out 200ms;
  cursor: pointer;
}
.teddyInputBlue:hover {
  transform: scale(1.5);
}
.teddyInputBlue:checked {
  background-color: blue;
  border: 1px solid white;
  transform: scale(1.5);
}
.teddyInputPink {
  -webkit-appearance: none;
  background-color: pink;
  border: 1px solid white;
  border-radius: 28px;
  width: 20px;
  height: 20px;
  position: relative;
  transition: all ease-in-out 200ms;
  cursor: pointer;
}
.teddyInputPink:hover {
  transform: scale(1.5);
}
.teddyInputPink:checked {
  background-color: pink;
  border: 1px solid white;
  transform: scale(1.5);
}

.header {
  position: relative;
  background: #f3e9f1;
  color: #cc7f56;
}
.header--logo img {
  height: 80px;
}
@media all and (min-width: 768px) {
  .header--logo img {
    height: 150px;
  }
}
.header--checkout {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.products {
  color: #4f3143;
  border-radius: 20px;
  background: #ead9e7;
  padding: 15px;
  display: flex;
}
.products--header > h2 {
  width: 20%;
  font-size: 20px;
  font-weight: bolder;
}
@media all and (min-width: 768px) {
  .products--header > h2 {
    font-size: 24px;
  }
}
.products--header-hr {
  position: relative;
  height: 2px;
  width: 60%;
  background: #cc7f56;
  opacity: 0.7;
  box-shadow: 0px 3px 6px #cc7f56;
}
.products--header-carets {
  width: 5%;
}

#teddiesCaretDown {
  display: none;
}

#camerasCaretDown {
  display: none;
}

#furnituresCaretDown {
  display: none;
}

.footer {
  background: #f3e9f1;
  color: #cc7f56;
  font-weight: bold;
}
.footer--brand-img img {
  height: 80px;
}
@media all and (min-width: 768px) {
  .footer--brand-img img {
    height: 150px;
  }
}
.footer--copyright {
  background: #4f3143;
  color: #cc7f56;
  font-size: 12px;
}
@media all and (min-width: 768px) {
  .footer--copyright {
    font-size: 14px;
  }
}

.topbar {
  background: #4f3143;
  color: orange;
}

.products {
  margin: 80px 0 80px 0;
}

.orange {
  color: #cc7f56;
}

/*# sourceMappingURL=style.css.map */
