@charset "UTF-8";
a, a:visited, a:focus, a:active, a:hover {
  color: inherit !important;
  text-decoration: none !important;
}

body {
  background: #f3e9f1 !important;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
}

input, textarea, select {
  outline: none;
}

html, body {
  font-family: "Quicksand", sans-serif;
}

.fade-scale {
  animation: fadeAndScale 800ms ease-in-out;
}

@keyframes fadeAndScale {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.8);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.cart-btn {
  background: transparent;
  color: #9d66d6;
  border: none;
  transition: all ease-in-out 300ms;
}
.cart-btn:hover {
  transform: scale(1.5);
  opacity: 0.6;
}

.quantityBtn {
  cursor: pointer;
}

.cart--wrap-action {
  color: white;
}
.cart--wrap-action > a {
  background: #4f3143;
  font-weight: bold;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: all ease-in-out 400ms;
}
.cart--wrap-action > a:hover {
  background: #cc7f56;
  transform: scale(1.2);
}
.cart--wrap-form-action {
  font-weight: bold;
}
.cart--wrap-form-action-back {
  padding: 10px;
  color: #9d66d6;
}
.cart--wrap-form-action-procceed {
  padding: 10px;
  background: #4f3143;
  transition: all ease-in-out 400ms;
}
.cart--wrap-form-action-procceed > button {
  background: transparent;
  border: none;
  color: #cc7f56;
}
.cart--wrap-form-action-procceed > button:hover {
  color: white;
}
.cart--wrap-form-action-procceed:hover {
  background: #cc7f56;
  transform: scale(1.3);
}
.cart--wrap-form-input > label {
  color: #4f3143;
}
.cart--wrap-form-input > input {
  padding: 15px;
  background: transparent;
  border-radius: 28px;
  border: 4px solid #cc7f56;
  color: #9d66d6;
}
.cart--wrap-magnet {
  box-shadow: 0px 3px 6px #00000085;
}
.cart--wrap-magnet-single {
  height: 100%;
  color: white;
  background: #8e5878;
}
.cart--wrap-magnet-single-img > img {
  width: 100%;
}
.cart--wrap-magnet-single-description {
  height: 100%;
}
.cart--wrap-magnet-single-option {
  height: 100% !important;
}
.cart--wrap-magnet-single-remove {
  width: 100%;
  height: 100%;
  background: #4f3143;
  cursor: pointer;
}

#contentHidden {
  display: none;
}

.errorDiv {
  animation: error 3000ms ease-in-out;
  position: fixed !important;
  top: 0;
  left: 0;
  background: #cc7f56;
  color: white;
  font-size: 24px;
  z-index: 999;
}
@keyframes error {
  0% {
    opacity: 0;
  }
  20%, 60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.cameraForm > input {
  position: relative;
}
.cameraForm > input:after {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: red;
}

.products--magnet {
  width: 300px !important;
  height: 582px;
  background: #4f3143;
  border-radius: 28px;
  color: #f3e9f1;
  font-weight: bold;
  position: relative;
  cursor: pointer;
  box-shadow: 0px 3px 6px #00000085;
}
.products--magnet-detail {
  display: none;
}
.products--magnet-img {
  height: 220px;
  max-height: 220px;
}
.products--magnet-img > img {
  width: 300px !important;
  height: 220px;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
}
.products--magnet-txt-name {
  color: #cc7f56;
  font-size: 20px;
}
@media all and (min-width: 768px) {
  .products--magnet-txt-name {
    font-size: 22px;
  }
}
.products--magnet-txt-price {
  color: #9d66d6;
}
.products--magnet-txt-colors > div {
  min-width: 15px;
  min-height: 15px;
  border: 1px solid white;
  border-radius: 10px;
}
.products--magnet-txt-lenses-single {
  background: #6e455e;
  padding: 3px;
  margin: 0 0 3px 2px;
  border-radius: 10px;
}
.products--magnet-txt-varnish > div {
  min-width: 15px;
  min-height: 15px;
  border: 1px solid white;
  border-radius: 10px;
}
.products--magnet-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 28px;
  background: #cc7f56;
  opacity: 0;
  z-index: 99;
  transition: opacity ease-in-out 300ms;
}
.products--magnet-overlay:hover {
  opacity: 0.7;
}
.products--magnet-overlay > i {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 50%;
}

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
}

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
  width: 320px;
  height: 480px;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}

.select {
  width: 60%;
  position: relative;
  text-align: center;
}
.select > select {
  appearance: none;
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
  cursor: pointer;
  border: 3px solid #cc7f56;
  border-radius: 28px;
  padding: 0 0 0 10px;
  color: white;
}
.select:after {
  position: absolute;
  right: 0;
  top: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
  font-family: "Font Awesome 5 Free";
  content: "";
  height: 100%;
  width: 20px;
  color: #4f3143;
  border-radius: 28px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background: #cc7f56;
  pointer-events: none;
}

.teddyInput {
  -webkit-appearance: none;
  border: 1px solid white;
  border-radius: 28px;
  width: 20px;
  height: 20px;
  position: relative;
  transition: all ease-in-out 200ms;
  cursor: pointer;
}
.teddyInput:hover {
  transform: scale(1.5);
}
.teddyInput:checked {
  background-color: tan;
  border: 1px solid white;
  transform: scale(1.5);
}
.teddyInputTan {
  background: tan;
}
.teddyInputTan:checked {
  background-color: tan;
}
.teddyInputChocolate {
  background-color: chocolate;
}
.teddyInputChocolate:checked {
  background-color: chocolate;
}
.teddyInputBlack {
  background-color: black;
}
.teddyInputBlack:checked {
  background-color: black;
}
.teddyInputWhite {
  background-color: white;
}
.teddyInputWhite:checked {
  background-color: white;
}
.teddyInputBrown {
  background-color: brown;
}
.teddyInputBrown:checked {
  background-color: brown;
}
.teddyInputBlue {
  background-color: blue;
}
.teddyInputBlue:checked {
  background-color: blue;
}
.teddyInputPink {
  background-color: pink;
}
.teddyInputPink:checked {
  background-color: pink;
}
.teddyInput654321 {
  background: #654321;
}
.teddyInput654321:checked {
  background-color: #654321;
}
.teddyInput987654 {
  background: #987654;
}
.teddyInput987654:checked {
  background-color: #987654;
}

.furnitureInput {
  -webkit-appearance: none;
  border: 1px solid white;
  border-radius: 28px;
  width: 20px;
  height: 20px;
  position: relative;
  transition: all ease-in-out 200ms;
  cursor: pointer;
}
.furnitureInput:hover {
  transform: scale(1.5);
}
.furnitureInput:checked {
  background-color: tan;
  border: 1px solid white;
  transform: scale(1.5);
}
.furnitureInputd1af84 {
  background: #d1af84;
}
.furnitureInputd1af84:checked {
  background-color: #d1af84;
}
.furnitureInput55342b {
  background-color: #55342b;
}
.furnitureInput55342b:checked {
  background-color: #55342b;
}
.furnitureInputc04000 {
  background-color: #c04000;
}
.furnitureInputc04000:checked {
  background-color: #c04000;
}
.furnitureInputc29467 {
  background-color: #c29467;
}
.furnitureInputc29467:checked {
  background-color: #c29467;
}

.cameraSelect {
  position: relative;
}
.cameraSelect:after {
  content: "";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 100%;
  background: #cc7f56;
  border-bottom-right-radius: 28px;
  border-top-right-radius: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.cameraSelect > select {
  appearance: none;
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
  cursor: pointer;
  width: 100%;
  border: 3px solid #cc7f56;
  background: transparent;
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
}
.cameraSelect > select > option {
  color: black;
}

.header {
  position: relative;
  background: #f3e9f1;
  color: #cc7f56;
}
.header--logo img {
  height: 80px;
}
@media all and (min-width: 768px) {
  .header--logo img {
    height: 150px;
  }
}
.header--checkout {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
.header--checkout i {
  background: linear-gradient(to right, #9d66d6 50%, #cc7f56 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all ease 1s;
}
.header--checkout i:hover {
  background: linear-gradient(to right, #9d66d6 50%, #cc7f56 50%);
  background-size: 200% 100%;
  background-position: left bottom;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.products {
  color: #4f3143;
  border-radius: 20px;
  background: #ead9e7;
  padding: 15px;
  display: flex;
}
.products--header > h2 {
  width: 20%;
  font-size: 20px;
  font-weight: bolder;
}
@media all and (min-width: 768px) {
  .products--header > h2 {
    font-size: 24px;
  }
}
.products--header-hr {
  position: relative;
  height: 2px;
  width: 60%;
  background: #cc7f56;
  opacity: 0.7;
  box-shadow: 0px 3px 6px #cc7f56;
}
.products--header-carets {
  width: 5%;
  cursor: pointer;
}

#teddiesCaretDown {
  display: none;
}

#camerasCaretDown {
  display: none;
}

#furnituresCaretDown {
  display: none;
}

.footer {
  background: #f3e9f1;
  color: #cc7f56;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.footer--brand-img img {
  height: 80px;
}
@media all and (min-width: 768px) {
  .footer--brand-img img {
    height: 150px;
  }
}
.footer--social a:hover {
  animation: rotate ease-in-out 600ms forwards;
}
.footer--copyright {
  background: #4f3143;
  color: #cc7f56;
  font-size: 12px;
  height: 5vh;
}
@media all and (min-width: 768px) {
  .footer--copyright {
    font-size: 14px;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    color: #ffb733;
  }
  100% {
    transform: scale(1) rotate(360deg);
    color: #cc7f56;
  }
}
.topbar {
  background: #4f3143;
  color: orange;
  height: 5vh;
}
.topbar--social i {
  transition: all ease-in-out 300ms;
}
.topbar--social i:hover {
  color: #9d66d6;
}

.products {
  margin: 80px 0 80px 0;
}

.orange {
  color: #cc7f56;
}

.brown {
  color: #4f3143;
}

.magnet {
  box-shadow: 0px 3px 6px #4f3143;
  border-radius: 20px;
  background: #cc7f56;
}

.order--magnet {
  color: #32050e;
  display: none;
}
.order--magnet ul {
  list-style: none;
  display: block;
}
.order--magnet-number-iterate > li {
  border-right: 2px solid #32050e;
  padding: 0 5px 0 5px;
}
.order--magnet-number-iterate > li:last-child {
  border: none;
}
.order--magnet-error {
  display: flex;
}

/*# sourceMappingURL=style.css.map */
