.footer {
  background: $bgcolor;
  color: $orange;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  &--brand {
    &-img {
      & img {
        height: 80px;
        @include display-md {
          height: 150px;
        }
      }
    }
    &-txt {
    }
  }
  &--social {
    & a {
      &:hover {
        animation: rotate ease-in-out 600ms forwards;
      }
    }
  }
  &--copyright {
    background: $brown;
    color: $orange;
    font-size: 12px;
    height: 5vh;
    @include display-md {
      font-size: 14px;
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    color: lighten(orange, 10%);
  }
  100% {
    transform: scale(1) rotate(360deg);
    color: $orange;
  }
}
