.products {
  color: $brown;
  border-radius: 20px;
  background: darken($bgcolor , 5%);
  padding: 15px;
  display: flex;
  &--header {
    & > h2 {
      width: 20%;
      font-size: 20px;
      @include display-md {
        font-size: 24px;
      }
      font-weight: bolder;
    }
    &-hr {
      position: relative;
      height: 2px;
      width: 60%;
      background: $orange;
      opacity: 0.7;
      @include shadow($orange);
    }
    &-carets {
      width: 5%;
    }
  }
}

#teddiesCaretDown {
  display: none;
}

#camerasCaretDown {
  display: none;
}

#furnituresCaretDown {
  display: none;
}
