.products--magnet {
  width: 300px !important;
  background: $brown;
  border-radius: 28px;
  color: $bgcolor;
  font-weight: bold;
  @include shadow($shadow-color);
  &-img {
    & > img {
      width: 300px !important;
      height: 220px;
      border-top-left-radius: 28px;
      border-top-right-radius: 28px;
    }
  }
  &-txt {
    &-colors {
      & > div {
        min-width: 15px;
        min-height: 15px;
        border: 1px solid white;
        border-radius: 10px;
      }
    }
    &-lenses {
      &-single {
        background: lighten($brown, 10%);
        padding: 3px;
        margin: 0 0 3px 2px;
        border-radius: 10px;
      }
    }
    &-varnish {
      & > div {
        min-width: 15px;
        min-height: 15px;
        border: 1px solid white;
        border-radius: 10px;
      }
    }
  }
}
