a , a:visited, a:focus, a:active, a:hover {
  color: inherit !important;
  text-decoration: none !important;
}

body {
  background: $bgcolor !important;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
}

input , textarea , select {
  outline: none;
}
